/* Reset */
body, p, h1, ul, li{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #252525;
  background-color: #E7E4D8;
}
a{
  text-decoration: none;
  color: #252525;
}
*{
  box-sizing: border-box;
}
img{
  display: block;
  max-width: 100%;
}

/* Header */
.header{
  background-color: #D6D3C8;
  padding: 20px;
}
.header::after, .header::before{
  content: '';
  display: table;
  clear: both;
}
.header-logo{
  float: left;
}
.header-menu ul{
  float: right;
}
.header-menu li{
  display: inline-block;
}
.header-menu li a{
  font-size: 1.125em;
  padding: 10px 10px;
}
.header-menu li:first-child a{
  padding-left: 0;
}
.header-menu li a:hover{
  transition: 300ms ease-in-out;
  color: #C17139;
}

/* Main */
.main-container::before, .main-container::after{
  content: '';
  display: table;
  clear: both;
}

/* Side Nav*/
.side-nav{
  width: 300px;
  background-color: #252525;
  float: left;
}
.side-nav li a{
  display: block;
  color: #FFF;
  border-bottom: 2px solid #484848;
  font-size: 1.125em;
  padding: 15px 20px 20px 20px;
}
.side-nav li a::before{
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  top: 5px;
  margin-right: 15px;
  background-image: url('../img/icones.png');
}
.nav-contabilidade::before{
  background-position: 0 0;
}
.nav-produtos::before{
  background-position: 0 -24px;
}
.nav-paginas::before{
  background-position: 0 -48px;
}
.nav-plugins::before{
  background-position: 0 -72px;
}
.nav-formularios::before{
  background-position: 0 -94px;
}
.nav-hospedagem::before{
  background-position: 0 -118px;
}